{% extends "base.html" %}
{% block content %}
        <section class="portfolio-block hire-me">
            <div class="container">
                <div class="heading">
                    <h2>Hire Me</h2>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3"><label class="form-label" for="subject">Subject</label>
                        <input required type="text" name="subject" class="form-control">
                    </div>
                    <div class="mb-3"><label class="form-label" for="email">Email</label><input name="email" required class="form-control" type="email" id="email"></div>
                    <div class="mb-3"><label class="form-label" for="message">Message</label><textarea name="message" class="form-control" id="message" required></textarea></div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-12 button"><button class="btn btn-primary d-block w-100" type="submit">Hire Me</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}