{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="portfolio-block photography">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'p1.png' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'p2.png' %}"></a></div>
                    <div class="col-md-6 col-lg-4 item zoom-on-hover"><a href="#"><img class="img-fluid image" src="{% static 'p3.png' %}"></a></div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><a href="mailto:o.jeff3.a@gmail.com" class="btn btn-outline-primary btn-lg">Hire me</a>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Full-stack Development</h3>
                                <p class="card-text">
                                    I have the ability to develop and deploy applications spanning the entire technology stack, from server-side programming to client-side scripting.     
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Agile Development</h3>
                                <p class="card-text">
                                    I have experience working in an agile development environment, collaborating with cross-functional teams, prioritizing work, and delivering quality products on time.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Troubleshooting and Debugging</h3>
                                <p class="card-text">
                                    I have strong ability to quickly identify and solve technical issues, whether it's identifying code errors or resolving complex system-level problems.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="portfolio-block website gradient">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5 offset-lg-1 text">
                    <h3>VSTech Limited</h3>
                    <p>
                        As the CEO of VSTech Limited, I bring extensive experience and skills in software development, full-stack engineering, agile development, and troubleshooting. I lead a team of skilled professionals who are dedicated to delivering top-quality products and solutions that meet the needs of our clients.
                    </p>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div class="portfolio-laptop-mockup">
                        <div class="screen">
                            <div class="screen-content" style="background-image: url(&quot;/static/assets/img/tech/image6.png&quot;);"></div>
                        </div>
                        <div class="keyboard"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}