<footer class="page-footer">
    <div class="container">
        <div class="links"><a href="{% url 'cv' %}">My CV</a><a href="{% url 'hireme' %}">Hire Me</a><a href="{% url 'projects' %}">Projects</a></div>
        <div class="social-icons">
            <a href="https://www.facebook.com/vstechltd/"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/vstech_ltd/"><i class="icon ion-social-instagram-outline"></i></a>
            <a href="witter.com/vstech_ltd"><i class="icon ion-social-twitter"></i></a>
        </div>
    </div>
</footer>