<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image: url(&quot;/static/assets/img/avatars/avatarr.jpg&quot;);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Kevin Kipyegon</strong>. I am a junior software engineer. I have passion for design, minimal and easy to use interfaces.</p><a class="btn btn-outline-primary" role="button" href="mailto:kevin.soy@yahoo.com">Contact me</a>
        </div>
    </div>
</section>