<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image: url(&quot;/static/assets/img/avatars/avatar.jpg&quot;);"></div>
        <div class="about-me">
            <p>Hello! I am <strong>Jeff Odhiambo</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.</p>
            <a class="btn btn-outline-primary" role="button" href="mailto:o.jeff3.a@gmail.com">Hire me</a>
        </div>
    </div>
</section>