<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="/">J.O</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'projects' %}">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'cv' %}">CV</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'hireme' %}">Hire me</a></li>
            </ul>
        </div>
    </div>
</nav>